@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
}

body {
  font-size: 14px !important;
  line-height: 1.714286 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-family: Poppins, sans-serif !important;
  color: #1d1d24 !important;
  font-weight: 400 !important;
}

p {
  font-size: 18px;
  line-height: 30px;
}

a {
  transition: all .4s ease-in-out 0s;
}

a {
  color: #ca3c08;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

a.rn-btn, button.rn-btn {
  padding: 0 23px;
  height: 40px;
  display: inline-block;
  line-height: 34px;
  border: 2px solid #f9004d;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  z-index: 2;
  color: #f9004d;
  letter-spacing: .2px;
  text-transform: uppercase;
}

.ptb-120 {
  padding: 120px 0;
}
.ptb-30 {
  padding: 30px 0;
}

.bg-color-5 {
  background: #f8f9fc;
}

.h1,.h2,.h3,h1,h2,h3 {
  font-weight: 700 !important;
}
.h4, .h5, h4, h5 {
  font-weight: 600 !important;
}
.h2, h2 {
  font-size: 54px !important;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,address,p,pre,blockquote,dl,dd,menu,ol,ul,table,caption,hr {
  margin: 0;
  margin-bottom: 15px;
}

.mt-55{
  margin-top: 55px !important;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: Poppins, sans-serif;
  line-height: 1.4074 !important;
  color: #1f1f25 !important;
}

header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
}

.header-wrapper .header-right li {
  color: #c6c9d8;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  display: inline-block;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.header-wrapper .header-right li:hover {
  color: #f9004d;
  cursor: pointer;
}

.header-right .header-btn {
  margin-left: 50px;
}

.header-right .header-btn .rn-btn {
  padding: 0 25px;
  height: 46px;
  display: inline-block;
  line-height: 42px;
  border: 2px solid #b1b4c1;
  border-radius: 6px;
  color: #c6c9d8;
  font-size: 14px;
  position: relative;
  z-index: 2;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.header-right .header-btn .rn-btn:hover {
  transform: translateY(-3px);
  color: #fff;
  border: 2px solid #f9004d;
  background: #f9004d;
  border-radius: 6px;
}

.main-banner-wrapper {
  /* padding-top: 230px;
  padding-bottom: 280px; */
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.main-banner-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('https://trydo.rainbowit.net/assets/images/bg/paralax/bg-image-3-overlay.jpg');
  background-position: center center;
  background-size: cover;
  z-index: -1;
  filter: brightness(70%);
}

.main-banner-wrapper .inner {
  padding-top: 100px;
  position: relative;
  z-index: 2;
}

.main-banner-wrapper .inner .title {
  /* color: #fff; */
  font-size: 100px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 130px;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background: #f81f01;
  background: linear-gradient(145deg, #f81f01, #ee076e);
}

.main-banner-wrapper .description {
  color: #c6c9d8;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0 16%;
  font-weight: 300;
}

.main-banner-wrapper .slide-btn {
  margin-top: 50px;
}

.main-banner-wrapper a.rn-btn {
  color: #c6c9d8;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #b1b4c1;
  height: 100%;
  padding: 15px 40px;
  border-radius: 6px;
  display: inline-block;
  font-weight: 500;
  transition: .3s;
}

.main-banner-wrapper .rn-btn:hover {
  border: 2px solid #f9004d;
  background: #f9004d;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
}
a.rn-btn:hover {
  border: 2px solid #f9004d;
  background: #f9004d;
  color: #fff;
  transform: translateY(-5px);
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .1);
}

.creative-service .service-style-2 {
  margin-top: 30px;
  background: #f6f6f6;
}

.service.service-style-2 {
  padding: 60px 45px;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.creative-service .row .col-lg-4>a {
  display: flex;
  height: 100%;
}

.service.service-style-2::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background-image: linear-gradient(90deg, #f61b10, #ef0963);
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.service.service-style-2:hover::before {
  opacity: 1;
  visibility: visible;
}

.service.service-style-2:hover {
  box-shadow: 0 10px 25px 10px rgba(0, 0, 0, .1);
  transform: translateY(-5px);
}

.service.service-style-2 .icon {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  color: #f9004d;
}

.service.service-style-2:hover .icon {
  color: #FFF;
}

.service.service-style-2 h3.title {
  margin-bottom: 19px;
  font-weight: 500;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.service.service-style-2:hover h3.title {
  color: white !important;
}

.service.service-style-2 p {
  color: rgba(29, 29, 36, .75);
  font-size: 18px;
  line-height: 30px;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.service.service-style-2:hover p {
  color: white;
}

/* ==================== Portfoli0 ======================== */


.section-title {
  margin-top: -20px;
}

.mb-15 {
  margin-bottom: 15px;
}

.section-title h2.title {
  font-size: 60px;
  margin-bottom: 8px;
}

.section-title.service-style-3 p {
  padding: 0 3% 0 0;
}

.section-title p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #717173;
}

.rn-slick-dot .portfolio {
  margin: 40px 0;
  position: relative;
  min-height: 600px;
  width: 100%;
  padding-top: 35%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.slick-slide{
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio:hover .thumbnail-inner {
  transform: scale(1.04) translateZ(0);
}
.portfolio:hover .thumbnail-inner:before {
  opacity: .85;
}
.portfolio .thumbnail-inner {
  transition: transform .28s ease, -webkit-transform .28s ease;
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio .thumbnail-inner::before {
  background-color: #f6004c;
  background-image: linear-gradient(#f6004c 10%, #000);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.portfolio:hover .thumbnail {
  transform: scale(1) translateZ(0);
}

.portfolio .thumbnail.image-1 {
  background-image: url('https://trydo.rainbowit.net/assets/images/portfolio/portfolio-1.jpg');
}
.portfolio .thumbnail.image-2 {
  background-image: url('https://trydo.rainbowit.net/assets/images/portfolio/portfolio-2.jpg');
}
.portfolio .thumbnail.image-3 {
  background-image: url('https://trydo.rainbowit.net/assets/images/portfolio/portfolio-3.jpg');
}
.portfolio .thumbnail.image-4 {
  background-image: url('https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg');
}
.portfolio .thumbnail.image-5 {
  background-image: url('https://trydo.rainbowit.net/assets/images/portfolio/portfolio-2.jpg');
}
.portfolio .thumbnail.image-6 {
  background-image: url('https://trydo.rainbowit.net/assets/images/portfolio/portfolio-4.jpg');
}

.portfolio .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  border-radius: 5px;
  background-color: #0a0a0a;
  transform: scale(1.13) translateZ(0);
  backface-visibility: hidden;
  transition: transform .28s ease;
  z-index: 4;
}

.portfolio .thumbnail::after {
  content: " ";
  display: block;
  border-radius: 5px;
  background-color: rgba(25,25,25,.37);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.portfolio .content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  max-width: 100% !important;
  z-index: 10;
  padding: 0;
}

.portfolio .content .inner p {
  color: #c6c9d8;
  font-size: 14px;
}

.portfolio .content .inner h4 {
  font-size: 24px;
  line-height: 36px !important;
  color: #fff !important;
}

.portfolio-button{
  margin-top: 35px;
  transition: .7s;
}

.portfolio .content .inner .portfolio-button a.rn-btn {
  color: #fff;
  border-color: hsla(0,0%,100%,.3);
}

.portfolio .content .inner .portfolio-button a.rn-btn:hover{
  border-color: #f9004d;
}
.portfolio .content .inner .portfolio-button a.rn-btn {
  padding: 0 23px;
  height: 40px;
  display: inline-block;
  line-height: 34px;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  z-index: 2;
  letter-spacing: .2px;
  text-transform: uppercase;
}

.fw-500{
  font-weight: 500 !important;
}


/* ====================== counter ====================== */

.section-title h3 {
  font-size: 36px;
  line-height: 26px;
}
.counterup-style-1{
  text-align: center;
  margin-top: 40px;
}

.counterup-style-1 h5{
  font-size: 72px;
  line-height: 80px !important;
  margin-bottom: 17px;
  position: relative;
  display: inline-block;
  color: #f9004d !important;
  margin-left: -20px;
}

.counterup-style-1 h5::after{
  right: -26px;
  position: absolute;
  top: -17px;
  font-size: 40px;
  content: "+";
}

.description{
  font-size: 18px;
  line-height: 30px;
  padding: 0 5%;
  color: rgba(29,29,36,.75);
  margin-bottom: 0;
}


/* =========================== team ============================ */
.team{
  margin-top: 30px;
  overflow: hidden;
  border-radius: 6px;
  position: relative;
}
.team:hover .thumbnail::after{
  opacity: .85;
  top: 0;
}

.team .thumbnail{
  display: block;
  position: relative;
  z-index: 1;
}

.team .thumbnail:after {
  background: linear-gradient(180deg,#fc004d 0,#000);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  opacity: 0;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.team .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px 40px;
  z-index: 2;
}

.team:hover .content {
  opacity: 1;
  visibility: visible;
}

.team .content h4.title {
  color: #fff !important;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  font-weight: 600;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  transition: all .45s cubic-bezier(.23,.88,.34,.99);
}

.team .content p.designation {
  color: #c6c9d8 !important;
  font-size: 14px;
  line-height: 34px;
  opacity: 0;
  visibility: hidden;
  transition: all .45s cubic-bezier(.23,.88,.34,.99);
  transform: translateY(10px);
}
.team:hover .content h4.title, .team:hover .content p.designation {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.team:hover .content p.designation {
  transition-delay: 0.15s;
}
.team ul.social-icon {
  position: absolute;
  top: 25px;
  left: 35px;
  padding: 0;
  z-index: 2;
  list-style: none;
  display: flex;
  margin: 0 -10px;
}

.team:hover ul.social-icon li:first-child {
  transition-delay: .07692s;
}
.team:hover ul.social-icon li:nth-child(2) {
  transition-delay: .15385s;
}
.team:hover ul.social-icon li:nth-child(3) {
  transition-delay: .23077s;
}

.team ul.social-icon li {
  margin: 0 10px;
  transform: translateY(8px) scale(.8);
  opacity: 0;
  visibility: hidden;
  transition: all .45s cubic-bezier(.23,.88,.34,.99);
}
.team:hover ul.social-icon li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.team ul.social-icon li span {
  color: #fff;
  font-size: 15px;
  transition: .3s;
}

ul.testimonial-thumb-wrapper{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 510px;
  margin: 0 auto -30px;
  outline: none;
}
ul.testimonial-thumb-wrapper li {
  padding-left: 15px;
  padding-right: 15px;
  flex-basis: 20%;
  margin-bottom: 30px;
  outline: none;
  cursor: pointer;
}
ul.testimonial-thumb-wrapper li .thumb {
  position: relative;
  display: inline-block;
  width: 100%;
}
ul.testimonial-thumb-wrapper li.react-tabs__tab--selected .thumb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  object-fit: contain;
  border-radius: 6px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);
}
ul.testimonial-thumb-wrapper li .thumb img {
  border-radius: 6px;
  width: 100%;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
ul.testimonial-thumb-wrapper li.react-tabs__tab--selected .thumb:after {
  opacity: 1;
  transform: scale(1);
}
ul.testimonial-thumb-wrapper li .thumb img:hover {
  transform: scale(1.1);
  object-fit: contain;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);
}
ul.testimonial-thumb-wrapper li .thumb:after {
  width: 13px;
  height: 13px;
  background: #f9004d;
  right: -8.5px;
  top: -8.5px;
  position: absolute;
  content: "";
  border-radius: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected .rn-testimonial-content {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}
.rn-testimonial-content {
  filter: blur(30px);
  opacity: 0;
  transform: scale(.2);
  transition: opacity .4s cubic-bezier(.82,0,.12,1) .2s;
  transition: all .4s cubic-bezier(.82,0,.12,1) .2s;
}
.rn-testimonial-content .inner {
  padding-bottom: 62px;
}
.rn-testimonial-content .author-info {
  margin-bottom: 50px;
}
.rn-testimonial-content .inner p {
  font-size: 36px;
  line-height: 58px;
  color: #18181b;
  font-weight: 500;
  padding: 0 9%;
  margin-bottom: 0;
  margin-top: -16px;
  position: relative;
  z-index: 2;
}
.rn-testimonial-content .author-info h6 {
  font-size: 18px;
  line-height: 50px;
  color: #8c8c8c;
  font-weight: 300;
}
.rn-testimonial-content .author-info h6 span {
  color: #18181b;
  text-transform: uppercase;
}

/* ======================= Blogs ======================= */
.blog-style-1{
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 6px;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.blog-style-1 .thumbnail a{
  display: block;
  position: relative;
  z-index: 1;
}
a:visited {
  color: inherit;
}

.thumbnail img {
  border-radius: 5px;
  box-shadow: 0 25px 65px rgba(0,0,0,.1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.blog-style-1 .thumbnail a:after {
  background: linear-gradient(180deg,#fc004d 0,#000);
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  opacity: 0;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.blog-style-1 .content {
  position: absolute;
  bottom: -92px;
  width: 100%;
  padding: 50px 35px;
  z-index: 3;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.blog-style-1 .content h4.title a {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.blog-style-1 .content:before {
  position: absolute;
  content: "";
  background: linear-gradient(180deg,transparent 0,#000 70%);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.blog-style-1 .content p.blogtype {
  font-size: 14px;
  margin-bottom: 5px;
  color: #c6c9d8;
}
.blog-style-1 .content .blog-btn {
  margin-top: 35px;
  transition: .7s;
  opacity: 0;
  visibility: hidden;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.blog-style-1:hover .thumbnail a img {
  transform: scale(1.1);
}
.blog-style-1:hover .thumbnail a:after {
  opacity: .85;
  top: 0;
}
.blog-style-1:hover .content {
  bottom: 0;
}
.blog-style-1:hover .content:before {
  opacity: 0;
}
.blog-style-1:hover .content .blog-btn {
  opacity: 1;
  visibility: visible;
}

ul.brand-style-2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
ul.brand-style-2 li {
  padding: 25px;
  flex-basis: 20%;
  text-align: center;
}
ul.brand-style-2 img {
  opacity: .7;
  transition: .3s;
  max-height: 110px;
  max-width: 150px;
  cursor: pointer;
}
ul.brand-style-2 img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* ====================== Footer ===================== */
.bg-img-1{
  background-image: url('https://trydo.rainbowit.net/assets/images/bg/bg-image-1.jpg') !important;
}
.bg-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.footer-style-2{
  z-index: 1;
}
.plr-50{
  padding: 0 50px;
}
.footer-style-2::before{
  background-color: #00010c;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
ul.social-share.rn-lg-size {
  margin-top: 0 !important;
}
ul.social-share {
  padding: 0;
  margin: -6px;
}
ul.social-share li {
  margin: 6px;
}
ul.social-share li a {
  width: 40px;
  display: inline-block;
  height: 40px;
  border: 2px solid rgba(198,201,216,.75);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(198,201,216,.75);
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
}
ul.social-share.rn-lg-size li a {
  width: 50px;
  height: 50px;
  font-size: 16px;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
ul.social-share li:hover a {
  background: #f9004d;
  border-color: #f9004d;
  color: #fff;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,.1);
  transform: translateY(-3px);
}
.footer-style-2 p {
  color: #c6c9d8;
  font-size: 14px;
  opacity: .75;
  margin-bottom: 0;
}